

<div class="cmp-parallx-background" style="position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-image: url('/content/dam/mysite/background-image/wallpapersden.com_astronaut-in-dream-space_3840x2160.jpg'); background-size: cover; background-position: center; z-index: -1;">
    <ul>
        <sly data-sly-list="${properties.parallaxscrolling}">
            <li>${item.text}</li>
        </sly>
    </ul>

    <div class="cmp-next-section">
        Welcome to the next section!
    </div>
</div>
